header {
    background-color: rgb(59, 59, 59);
    color: white;
}

.navigation {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    padding-right: 10%;
    padding-left: 10%;  
    margin-bottom: 0;
    background-color: black;
    height: 4rem;
    align-items: center;
    font-size: x-large;

}


main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: grey;
    height: 40rem;
}

.aside {
    background-color: white;
}

footer {
    background-color: rgb(59, 59, 59);
    text-align: center;
    color: white;
    height: 10rem;
}