
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: blanchedalmond;
    --secondary-color: rgb(228, 225, 225);
    --accent-color: #DADDD8;
    --fonts: black;
    box-sizing: border-box;
}

body, footer {
    margin: 0;
    padding: 0; 
}

header {
    padding: 0.75rem 1rem 1rem 1rem;
    grid-column: 1/4;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
}

header h1 {
    margin-left: 0;
    font-size: x-large;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 1rem;
}

nav a {
    font-size: x-large;
    text-decoration: none;
    color: black;
}

nav a:hover {    
    text-decoration: underline;
    color: #1f2170;
}

body {
    height: 125vh;
    font-family: "Roboto Condensed", serif;
    font-weight: bold;
    background-color: var(--secondary-color);
}

main {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
}

main h2 {
    text-align: center;
    font-size: xx-large;
    margin: 5px 0 10px 0 ;
}

div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    justify-content: center;
    align-items: center;
    width: 100%;
}

img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 10px;
    border: solid 3px var(--primary-color);
}

footer {
    padding: 1rem;
    font-size: 20px;
    text-align: center;
    grid-column: 1/4;
    background-color: var(--primary-color);
    color: #070B0C;
    width: 100%;
}

footer p:nth-of-type(1) {
    font-weight: bold;
    text-align: center;
    margin-bottom: 5px;
}

footer p:nth-of-type(2) {
    color: #1f2170;
    font-weight: bold;
    font-size: 17px;
    margin-top: 0;
}

.nav-link.active {
    color: var(--fonts);
    background-color: var(--secondary-color);
    padding: 20px;
    border: solid 3px var(--primary-color);
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    text-align: center;
}

.gallery section {
    background-color:rgba(255, 255, 255, 0.253);
    border: var(--primary-color) solid 3px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
    min-height:250px;
}

.gallery section img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    border: 2px solid var(--primary-color);
}

.gallery section h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;}

.gallery section p {
    font-size: 1rem;
    color: #333;
    margin-bottom: 5px;
}

.gallery section:hover {
    transform: scale(1.05);
}