:root {
    --main-color: blanchedalmond;
    --second-color: cadetblue;
    --third-color: rgb(182, 180, 180);
    --header-font: "Playwrite AU SA", serif;
    --support-font: "Inter", serif;
}

header, footer {
    background-color: var(--second-color);
    text-align: center;
    padding: .1rem;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: var(--header-font);

}

body {
    background-color: var(--main-color);
    min-width: 400px;
}

.productReview p{
    text-align: center;
}

.productReview {
    border: 1px solid black;
    background-color: var(--third-color);
    padding: 5px;
    max-width: 500px;
    min-width: 400px;
    font-family: var(--support-font);
}

.productReview fieldset {
    margin: 2rem 0;
    border: none;
    padding: .5rem;
    display: block;
}

.productReview input[type="text"],
.productReview input[type="date"],
.productReview select{
    display: block;
    padding: .75rem;
    width: 90%;
    max-width: 400px;
}

.productReview input[type="radio"],
.productReview input[type="checkbox"]{
    margin-right: 6px;
    margin-left: 10px;
    border: 0;
    width: 5%;
    height: 1.3rem
}

.checkboxes label{
    display: block;
}


.productReview input[type="submit"]{
    width: 96%;
    max-width: 400px;
    height: 3rem;
    font-size: larger;
    background-color: lightgreen;
}
