:root {
    --heading-font: "Inter", serif;
    --subtext: "Playwrite AU SA", serif;
    --main-color: #CD7F32; 
    --secondary-color: hsl(174, 72%, 56%);
    --third-color: antiquewhite;
}

* {
    margin: 0 auto;

}

header {
    width: auto;
    background-color: var(--third-color);
    text-align: center;
    padding: 2rem;
    margin-bottom: 1rem;
    font-family: var(--heading-font);
    font-size: larger;
}

body {
    background-color: var(--main-color);
}

.hero img {
    width: 90%;
    height: auto;
    margin: 2rem;
}

.data, .weather {
    background-color: var(--secondary-color);
    font-family: var(--subtext);
    text-align: center;
}

footer {
    background-color: var(--third-color);
    font-family: var(--subtext);
    text-align: center;
    padding: 1rem;
    font-weight: bolder;
}

#weather h2::after {
    content: "";
    display: inline-block;
    width: 20px;
    height: auto;
    background-image: url("images/weather.svg");
    margin-left: 5px;
}

/* Full page */
@media (min-width: 1200px) {
    
    main {
        width: 100%;
        text-align: center;
        position: relative;
    }

    .data {
        position: absolute;
        top: 10%;
        left: 10%;
        width: auto;
        height: auto;
        padding: 1rem;
        border-radius: 50px;
        background: hsl(174, 72%, 56%, .8);
    }

    .data h3, p {
        font-size: small;
    }

    .weather {
        position: absolute;
        bottom: 20%;
        right: 10%;
        width: auto;
        height: auto;
        padding: 1rem;
        border: 1px solid black;
        border-radius: 50px;
        background: hsl(174, 72%, 56%, .8);

    }

    .weather h3, p {
        font-size: small;
    }

    .weather h2::after {
        content: "⛅";
        display: inline-block;
        width: 35px;
        height: auto;
        margin-left: 5px;
    }

    .mobile-show {
        display: none;
    }
}

/* Small view */
@media (max-width: 1200px) {
    .data {
        width: 90%;
        margin: 2rem;
        border: 1px solid black;
        border-radius: 50px;
    }


    .weather {
        width: 90%;
        margin: 2rem;
        border: 1px solid black;
        border-radius: 50px;
    }

    .mobile-show {
        display: block !important;
    }
}